html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff
}

html, body {
    overflow-x: hidden; /* Nasconde lo slider orizzontale */
    overflow-y: auto;   /* Mantiene lo scorrimento verticale automatico */
    margin: 0;          /* Rimuove eventuali margini di default */
    padding: 0;         /* Rimuove eventuali padding di default */
}


.upper {
    text-transform: uppercase;
}

/* Navbar */
nav {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 600; 
    letter-spacing: -0.3px;
    line-height: 18px; 
    text-transform: uppercase;
}

nav div:first-child {
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 1px 0;
    position: relative;
    width: 1px;
}

nav div:nth-child(2) {
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 1px;
}

nav div:last-child {
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 23px;
    height: min-content;
    justify-content: flex-end;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1px;
}


.nav__link a {
    text-decoration: none;
    color: black;
}

/* Introduzione */

.info {
    padding: 5em;
    /* background-image: url("../img/undraw_absorbed_in_re_ymd6.svg");
    background-repeat: no-repeat;
    background-size: cover; */
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

.intro .titolo {
    font-size: 4em;
}


/* Profilo */

.profilo {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 50px;
}

.titoletto {
    color: #999999;
    font-size: 15px;
    padding-bottom: 3em;
}


.left-col {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 6em;
    width: 100%;
}

.right-col {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    gap: 6em;
    width: 100%;
}

.foto {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    width: 60%;
}


.t-big {
    font-size: 80px;
    font-family: "Amiri", "Amiri Placeholder", serif;
    font-weight: 400;
}

.t-right {
    text-align: right;
}

.text-profilo {
    font-family: 'Amiri';
    font-size: 24px;
    line-height: 1.5em
}

/* Portfolio */
.portfolio-section {
    padding: 2em 0;
    padding: 5em;
}

.portfolio-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-info div:first-child {
    width: 30%;
}

.button {
    padding: 0.5em 2em;
    color: white;
    background-color: #d6223b;
    border: none;
    font-family: 'Comfortaa', sans-serif;
}
  
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 10px;
    margin-top: 2em;
}
  
.image-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    font-size: 3em;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    background-color: #19142a;
    color: #fff;
    padding: 5em;
}
  
.contact-info {
    width: 48%;
}
  
.contact-form {
    width: 48%;
}

.contact-mine {
margin-top: 2em;
}

.contact-mine div:nth-child(2) {
    margin: 2em 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}
  
.contact-form form div:first-child {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

.contact-form form div:nth-child(2) {
    display: flex;
}
  
.contact-form form input[type="text"],
.contact-form form input[type="email"] {
    width: 48%;
}
  
.contact-form form textarea {
    width: 100%;
    margin-bottom: 10px;
}
  
.contact-form form input[type="submit"] {
    background-color: red;
    color: #fff;
    border: none;
    width: 20%;
}

footer {
    padding: 5em;
    display: flex;
    justify-content: center;
    background-color: #2a2344;
}

/* Carosello */

.projects .titolo {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}


.p1 {
    font-size: 30px;
}

.p2 {
    color: #999999;
    font-size: 15px;
}

.carousel-item .p2 {
    margin-bottom: 1em;
}

.titolo {
    font-family: "Amiri", serif;
    font-size: 60px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative; /* Necessario per posizionare le frecce */
    padding: 0 20px;
    box-sizing: border-box; /* Assicura che padding e border non espandano la larghezza oltre il 100% */
    overflow: visible; /* Assicura che gli elementi non vengano tagliati */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #f3f3f3;
    padding: 16px;
    border-radius: 8px;
    min-width: 200px;
    max-width: 100%; /* Imposta una larghezza massima al 100% della larghezza del contenitore */
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.swiper-button-next, .swiper-button-prev {
    color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    transition: transform 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000; /* Assicura la sovrapposizione alle altre parti della pagina */
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    color: #000000;
}


.swiper-button-next {
    right: 20px;
}

.swiper-button-prev {
    left: 20px;
}


.img {
    width: 25em;
    height: 28em;
    object-fit: cover;
    margin-bottom: 3em;
    max-width: 100%; /* Imposta una larghezza massima al 100% della larghezza del contenitore */
}


/* Animazioni */

.hidden {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.6s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}
