html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff
}

html, body {
    overflow-x: hidden; /* Nasconde lo slider orizzontale */
    overflow-y: auto;   /* Mantiene lo scorrimento verticale automatico */
    margin: 0;          /* Rimuove eventuali margini di default */
    padding: 0;         /* Rimuove eventuali padding di default */
}


.upper {
    text-transform: uppercase;
}

.pad-top {
    padding-top: 8em;
}

.pb-1 {
    padding-bottom: 0.5em;
}

.pb-2 {
    padding-bottom: 2em;
}

.pb-3 {
    padding-bottom: 3em;
}

.gap-6 {
    gap: 6em;
}


/* Navbar */
nav {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 600; 
    letter-spacing: -0.3px;
    line-height: 18px; 
    text-transform: uppercase;
}

nav div:first-child {
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 1px;
}

nav div:last-child {
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 23px;
    height: min-content;
    justify-content: flex-end;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1px;
}

.nav__link {
    display: flex;
    list-style-type: none;
    flex: 1 0 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 1em 0;
    position: relative;
    width: 1px;
}

.nav__link li {
    position: relative;
}

.nav__link a {
    display: inline-block; /* Aggiungi questa regola */
    text-decoration: none;
    color: black;
    transition: transform 0.3s;
}

.nav__link a:hover {
    transform: translateY(-5px);
}

.nav__link a:hover::after {
    content: '•';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1em;
    font-size: 1em;
}



/* Introduzione */

.info {
    padding: 5em;
    /* background-image: url("../img/undraw_absorbed_in_re_ymd6.svg");
    background-repeat: no-repeat;
    background-size: cover; */
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

.intro .titolo {
    font-size: 4em;
}


/* Profilo */

.section {
    display: flex;
    justify-content: center;
    padding: 0 50px 70px 50px;
    border-bottom-width: 1px;
    border-style: solid;
}

.titoletto {
    color: #999999;
    font-size: 15px;
}


.left-col {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.right-col {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.img-profilo {
    width: 70%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    object-position: center;
}

.foto {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    width: 60%;
}


.t-big {
    font-size: 80px;
    font-family: "Amiri", "Amiri Placeholder", serif;
    font-weight: 400;
}

.t-right {
    text-align: right;
}

.text-profilo {
    font-family: 'Amiri';
    font-size: 24px;
    line-height: 1.5em
}

/* Education & Experience */

.text-edu {
    font-size: 1.8em;
    font-family: 'Amiri';
    line-height: 1.5em
}

.edu-exp .titolo {
    display: flex;
    justify-content: center;
    margin: 2em 0 1em 0;
}

.edu-section {
    display: flex;
    justify-content: space-evenly;
    padding: 0 50px 70px 50px;
    border-bottom-width: 1px;
    border-style: solid;
}

/* Portfolio */

.portfolio-section {
    padding: 2em 0;
    padding: 5em;
}

.portfolio-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-info div:first-child {
    width: 30%;
}

.button {
    padding: 0.5em 2em;
    color: white;
    background-color: #d6223b;
    border: none;
    font-family: 'Comfortaa', sans-serif;
}
  
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 10px;
    margin-top: 2em;
}
  
.image-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    font-size: 3em;
}

/* Contatti*/

.contatti {
    border-bottom-width: 1px;
    border-style: solid;
}
  
.contatti .titolo {
    display: flex;
    justify-content: center;
    margin: 2em 0 1em 0;
}
  
.contact-info {
    width: 45%;
}
  
.contact-form {
    width: 48%;
}
  
.contact-mine {
    margin-top: 2em;
}
  
.contact-mine div:nth-child(2) {
    margin: 2em 0;
}
  
.contact-form form {
    display: flex;
    flex-direction: column;
}
  
.contact-form form div:first-child {
    display: flex;
    justify-content: space-between;
}
  
.contact-form form input[type="text"] {
    width: calc(50% - 10px); /* Larghezza fissa con margine */
    height: 2em;
    margin-right: 10px; /* Margine destro per la spaziatura */
}

.contact-form form input[type="email"] {
    width: calc(50% - 10px); /* Larghezza fissa con margine */
    height: 2em;
    margin-right: 0;
}

.contact-form form textarea {
    width: calc(100% - 20px); /* Larghezza fissa */
    margin: 10px 0; /* Margine per separazione */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Disabilita il ridimensionamento */
}
  
.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
}

.contact-form button:hover { 
    background-color: #999999;
}

.mail {
    font-size: 1.2em;
    font-weight: 700;
}
  
.contact-section {
    display: flex;
    justify-content: space-evenly;
    padding: 5em;
    align-items: center;
}
  
.contact-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
    font-family: 'Poppins'; /* Cambia il font qui */
    padding-left: 0.5em;
}


  /* Stili per il placeholder */
input::placeholder,
textarea::placeholder {
    font-family: 'Poppins'; /* Cambia il font qui */
    color: #888; /* Colore del placeholder */
}

/* Footer */

footer {
    padding: 5em;
    display: flex;
    justify-content: center;
}

/* Carosello */

.projects {
    border-bottom-width: 1px;
    border-style: solid;
}

.projects .titolo {
    display: flex;
    justify-content: center;
    margin: 2em 0 1em 0;
}


.p1 {
    font-size: 30px;
}

.p2 {
    color: #999999;
    font-size: 15px;
}

.p3 {
    font-size: 1.2em;
}

.carousel-item .p2 {
    margin-bottom: 1em;
}

.titolo {
    font-family: "Amiri", serif;
    font-size: 60px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative; /* Necessario per posizionare le frecce */
    padding: 0 20px;
    box-sizing: border-box; /* Assicura che padding e border non espandano la larghezza oltre il 100% */
    overflow: visible; /* Assicura che gli elementi non vengano tagliati */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-top: 75%; /* Cambia questo valore per regolare le proporzioni */
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.img:hover {
    transform: scale(1.1); /* Applica lo zoom */
}

.card-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding-top: 3em;
}

.swiper-button-next, .swiper-button-prev {
    color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    transition: transform 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000; /* Assicura la sovrapposizione alle altre parti della pagina */
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    color: #000000;
}

.swiper-button-next {
    right: 20px;
}

.swiper-button-prev {
    left: 20px;
}

/* Cerchio */

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px dotted black; /* Contorno a tratteggio con pallini */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

  .circle:hover {
    transform: rotate(360deg); /* Rotazione su hover */
}


/* Animazioni */

@keyframes quickFadeInMove {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animated-word {
    opacity: 0;
    display: inline-block;
    animation: quickFadeInMove 0.5s forwards;
}

.hidden {
    opacity: 0;
    transform: translateY(100px);
}

.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.6s ease;
}
